*{
 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.banner{
  background-image: url(/Portfolio/image/prottt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
}
.skills-padding{
  padding: 80px 0;
}